:root{
  --card-height: 350px;
  --card-width: 400px;
  --container-height: 60%;
}

#container {
    min-height: var(--container-height);
    width: 100%;
    top: 5%;
    position: absolute;
    overflow: hidden;
  }
  
  #slider {
    width: auto;
    min-height: inherit;
    position: absolute;
    top: 5%;
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: -1;
  }
  
  #slider > .card {
    height: var(--card-height);
    min-width: var(--card-width);
    width: var(--card-width);
    border-radius: 2%;
    box-shadow: -.3rem .3rem 1rem .2rem rgba(152, 143, 143, 0.2), 
    .3rem -.3rem 1rem .2rem rgba(152, 143, 143, 0.2);
  }
  
  #container > #controls {
    position: absolute;
    min-height: var(--card-height);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 .5rem;
  }
  
  .card-active {
    min-height: calc(var(--card-height) + 50px);
  }

  .card-active > img {
    height: calc(var(--card-height) - 50px) !important;
  }

  .card > img {
    height: calc(var(--card-height) - 90px);
    width: 100%;
    border-radius: 2% 2% 0 0;
  }