.main {
  min-height: 100vh;
  width: 98.5vw;
  overflow: hidden;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
}

/* stacked cards */
.cards_container {
  display: flex;
  width: 100%;
}
.card_list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  flex: 1;
  padding-right: 20px;
}
.card_list::-webkit-scrollbar {
  display: none;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: clamp(250px, 20rem, 500px);
  min-width: 20rem;
  border-radius: 16px;
  background: var(--background);
  box-shadow: -1rem 0.5rem 3rem -1.5rem black;
  transition: 0.2s;
  overflow: hidden;
  z-index: 3;
}
.card:hover {
  transform: translateY(-1rem) rotateZ(-2deg);
}
.card:hover ~ .card {
  transform: translateX(130px);
}
.card:not(:first-child) {
  margin-left: -13%;
}
.card_logo {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.card_header {
  flex: 1;
  padding: 5%;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
.card:hover h1 {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Anton', 'Courier New', Courier, monospace;
}

/* Carousel styles */
.carousel_container {
  width: 100%;
  min-height: calc(var(--container-height) + 5rem);
  position: relative;
  overflow: hidden;
}

.card_img {
  height: calc(var(--card-height) - 90px);
  width: 100%;
  border-radius: 2% 2% 0 0;
}

@media (max-width: 600px) {
}
